@{
  Layout = "_Layout";
}

<h1>Welcome to the Hair Salon App</h1>
<h3>Your go to for finding your stylists clients</h3>

<p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("See all clients", "Index", "Clients")</p>